streamlit
langchain
langchain-community
langchain-core
langchain-groq
groq
sentence-transformers
faiss-cpu
torch
torchvision
GitPython
pypdf
python-docx
pandas
numpy
plotly
networkx
reportlab
python-dotenv
requests
